<ion-view hide-nav-bar="true">
  <ion-content class="" scroll="false">

    <div class="background-center" style="padding-top: 30px;">
      <div style="width: 300px;">
        <div class="list padding margin-top-30" style="padding-top: 0;">

          <button class="button width-100 margin-top-20 facebook-button" ng-click="loginFacebook()">Facebook</button>
          <button class="button width-100 margin-top-20 twitter-button" ng-click="twitterlogin()">Twitter</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
